#image-preview img{
    height: 150px;
    width: auto;
}
#image-preview{
    max-width: 200px;
    max-width: 200px;
    display: flex;
    justify-content: center;
}
.btn-upload{
    width: 100px;
}
.card-link{
    text-decoration: none;
    cursor: pointer;
    color:black;
}

.card-link:hover {
    color:grey;
}
#header{
    padding: 0px!important;
}
.dropdown-menu a{
    color: black!important;
}